.features_container{
  margin-top: 50px;
  padding: 5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.features_left{
    width: 50%;
    padding: 1rem 4rem;
    margin-top: 60px;
}

.features_fruits{
    /* border: 1px solid black; */
    border-radius: 30px;
    background: linear-gradient(rgb(255, 143, 103),rgba(255, 109, 56, 1));
    height: 30%;
    position: relative;
    -webkit-box-shadow: 0px 4px 40px -6px rgba(255,109,56,1);
  -moz-box-shadow: 0px 4px 40px -6px rgba(255,109,56,1);
  box-shadow: 0px 4px 40px -6px rgba(255,109,56,1);
}

.features_fruits .chef-bg{
    width: 90%;
    height: 70%;
    position: relative;
    left: 0.5rem;
    bottom: 9rem;
}

.features_fruits .chef{
    width: 650px;
    height: 450px;
    position: absolute;
    right: 0px;
    bottom: 0rem;
}

.features_right{
    width: 50%;
}

.features_right .features_head{
    font-size: 2.7rem;
    margin-bottom: 27px;
}

.features{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.features .features_box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.features .features_box .features_box_left{
    /* border: 1px solid black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    -webkit-box-shadow: 0px 4px 14px -6px rgba(0,0,0,1);
  -moz-box-shadow: 0px 4px 14px -6px rgba(0,0,0,1);
  box-shadow: 0px 4px 14px -6px rgba(0,0,0,1);
}

.features .features_box .features_box_right .feature_title{
    margin-bottom: 10px;
    text-align: justify;
}

.features .features_box .features_box_right .feature_desc{
    color: rgb(102, 100, 100);
    text-align: justify;
}

@media only screen and (max-width: 1490px){
    .features_container{
        padding: 4rem 8rem;
    }

    .features_left{
        width: 45%;
        padding: 1rem 2rem;
    }

    .features_right{
        width: 45%;
    }
}

@media only screen and (max-width: 1420px){
    .features_container{
        padding: 3rem 7rem;
        gap: 25px;
    }

    .features_left{
        transform: scale(0.9);
    }

    .features_right{
        width: 44%;
    }

    .features_right .features_head{
        font-size: 2.4rem;
        margin-bottom: 24px;
    }
}

@media only screen and (max-width: 1330px){
    .features_left{
        transform: scale(0.9);
    }

    .features_right{
        width: 42%;
    }

    .features_right .features_head{
        font-size: 2.2rem;
        margin-bottom: 23px;
    }
}

@media only screen and (max-width: 1310px){
    .features_container{
        padding: 3rem 6rem;
        gap: 22px;
    }

    .features_left{
        transform: scale(0.9);
        margin-left: 20px;
    }

    .features_right{
        transform: scale(0.9);
    }

    .features_right .features_head{
        font-size: 2.1rem;
        margin-bottom: 23px;
    }
}

@media only screen and (max-width: 1310px){
    .features_container{
        padding: 3rem 5rem;
        gap: 14px;
    }

    .features_left{
        transform: scale(0.9);
        margin-left: 20px;
    }

    .features_right{
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 1270px){
    .features_container{
        padding: 3rem 4rem;
        gap: 6px;
    }

    .features_left{
        transform: scale(0.9);
        margin-left: 50px;
    }

    .features_right{
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 1220px){
    .features_container{
        padding: 3rem 4rem;
        gap: 6px;
    }

    .features_left{
        transform: scale(0.9);
        margin-left: 80px;
    }

    .features_right{
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 1190px){
    .features_container{
        padding: 3rem 2rem;
        gap: 80px;
        flex-direction: column;
    }

    .features_left{
        transform: scale(1.1);
        /* margin-left: 80px; */
    }

    .features_right{
        transform: scale(1.1);
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .features_right .features_head{
        font-size: 2.2rem;
        margin-bottom: 23px;
        text-align: center;
    }

    .features .features_box{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
    }

    .features{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        width: 80%;
    }

    .features_right .features_head{
        font-size: 1.9rem;
        margin-bottom: 24px;
    }

}
@media only screen and (max-width: 1100px){
    .features_left{
        transform: scale(1);
        /* margin-left: 80px; */
    }

    .features_fruits .chef-bg{
        width: 90%;
        height: 70%;
        position: relative;
        left: 0.5rem;
        bottom: 9rem;
    }
    
    .features_fruits .chef{
        width: 610px;
        height: 430px;
        position: absolute;
        right: -15px;
        bottom: 0rem;
    }
}

@media only screen and (max-width: 1070px){
    .features_left{
        transform: scale(1);
        /* margin-left: 80px; */
    }

    .features_fruits .chef-bg{
        width: 90%;
        height: 70%;
        position: relative;
        left: 0.5rem;
        bottom: 9rem;
    }
    
    .features_fruits .chef{
        width: 600px;
        height: 420px;
        position: absolute;
        right: -18px;
        bottom: 0rem;
    }
}

@media only screen and (max-width: 1070px){
    .features_left{
        /* transform: scale(1); */
        display: none;
        /* margin-left: 80px; */
    }

}