.Home_Banner_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bg-trans {
  position: absolute;
  width: 25rem;
  opacity: 0.1;
  /* top: 0; */
  left: 4rem;
  bottom: 16rem;
  transform: rotate(30deg);
}

.banner_left {
  width: 50%;
  /* border: 1px solid black; */
  padding: 5rem 10rem;
  font-size: 2rem;
  letter-spacing: 2px;
  padding-right: 9rem;
}

.search-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.banner_left .delivery_p {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.banner_left .delivery_p .delivery_img {
  width: 40px;
  height: 40px;
}

.highlight {
  color: rgba(255, 109, 56, 1);
}

.banner_right {
  width: 50%;
  padding: 4rem 10rem;
}

.Home_Banner_container .banner_left .btn-secondary {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.banner_icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.banner_right_img_div {
  position: relative;
  border: 1px solid black;
  border-radius: 30px;
  height: 70vh;
  width: 25vw;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../../public/BannerImg.jpg") center center/cover;

  -webkit-box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 1);
}

.banner_right_img_div .first-img {
  border: none;
  background: transparent;
  height: 70%;
  width: 100%;
  position: absolute;
  top: 7rem;
  right: 7rem;
}

.banner_right_img_div .second-img {
    border: none;
    background: transparent;
    height: 55%;
    width: 65%;
    position: absolute;
    bottom: 20rem;
    left: 14rem;
}

@media only screen and (max-width: 1190px){
  .banner_left {
    width: 70%;
    /* border: 1px solid black; */
    padding: 4rem 4rem;
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding-right: 3rem;
  }

  .banner_icons .banner_icon{
    transform: scale(1.4);
  }

  .banner_right {
    width: 40%;
    padding: 5rem 0rem;
    /* padding-right: 4rem; */
  }

  .banner_right_img_div {
    height: 60vh;
    width: 30vw;
  }

  .banner_right_img_div .first-img {
    height: 60%;
    width: 75%;
    top: 9rem;
    right: 12em;
  }
  
  .banner_right_img_div .second-img {
      height: 50%;
      width: 55%; 
      bottom: 18rem;
      left: 13rem;
  }

  .bg-trans {
    width: 22rem;
    opacity: 0.1;
    left: 2rem;
    bottom: 14rem;
    transform: rotate(30deg);
  }
}

@media only screen and (max-width: 1050px){
  .banner_right {
    width: 38%;
    padding: 5rem 0rem;
    /* padding-right: 4rem; */
  }

  .banner_right_img_div {
    height: 55vh;
    width: 28vw;
  }

  .banner_right_img_div .first-img {
    height: 55%;
    width: 70%;
    top: 9rem;
    right: 10em;
  }
  
  .banner_right_img_div .second-img {
      height: 50%;
      width: 55%; 
      bottom: 16rem;
      left: 11rem;
  }

  .bg-trans {
    width: 21rem;
    opacity: 0.1;
    left: 2rem;
    bottom: 13rem;
    transform: rotate(30deg);
  }
}

@media only screen and (max-width: 900px){
  .banner_right_img_div .second-img {
    height: 50%;
    width: 55%; 
    bottom: 16rem;
    left: 10rem;
  }

  .banner_right_img_div .first-img {
    height: 55%;
    width: 70%;
    top: 9rem;
    right: 9em;
  }

  .banner_right {
    width: 45%;
    padding: 5rem 0rem;
    /* padding-right: 4rem; */
  }

  .bg-trans {
    width: 20rem;
    opacity: 0.1;
    left: 1rem;
    bottom: 12rem;
    transform: rotate(30deg);
  }
}

@media only screen and (max-width: 840px){
  .banner_right{
    display: none;
  }

  .banner_left {
    width: 100%;
    /* border: 1px solid black; */
    padding: 6rem 6rem;
    font-size: 2.3rem;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .bg-trans {
    width: 20rem;
    opacity: 0.1;
    left: 8rem;
    bottom: 14rem;
    transform: rotate(30deg);
  }
}

@media only screen and (max-width: 705px){
  .banner_left {
    padding: 5rem 5rem;
    font-size: 2rem;
    letter-spacing: 1px;
    overflow-x: hidden;
  }

  .bg-trans {
    width: 20rem;
    opacity: 0.1;
    left: 4rem;
    bottom: 14rem;
    transform: rotate(25deg);
  }
}

@media only screen and (max-width: 600px){
  .banner_left {
    padding: 5rem 5rem;
    font-size: 1.8rem;
    letter-spacing: 1px;
  }

  .bg-trans {
    width: 20rem;
    opacity: 0.1;
    left: 2rem;
    bottom: 13rem;
    transform: rotate(25deg);
  }
}