.filters{
    margin: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters>div{
    display: flex;
    align-items: center;
}

.filters h3{
    display: inline-block;
    margin-right: 1rem;
}

.filters select{
    border-radius: 10px;
    border: 1px solid black;
    padding: 4px 8px;
    font-weight: bold;
    outline: none;
}

.filters input{
    width: 30vw;
    border-radius: 10px;
    border: 1px solid black;
    padding: 4px 8px;
    font-weight: bold;
    outline: none;
}

@media only screen and (max-width: 850px){
    .filters{
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }

    .filters input{
        width: 50vw;
    }
}